.container-list {
  display: flex;
  flex-direction: column;
  height: auto;
  /* margin-top: 5vh; */
  /* background-image: url(../footer-bg.jpg); */
  /* background-size: cover; */
  background-color: black;
}
.title-box {
  /* display: flex; */
  /* background-color: white; */
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
}

.list {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  /* background-color: red; */
  width: auto;
  height: 550px;
  display: grid;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.list div {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 10vh;
}
.container-title {
  color: white;
}
.movies-item {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  height: 180px;
}
.movies-item:hover {
  opacity: 0.7;
  transition: "0.5s";
}
