.hero-items{
  height: 100vh;
  width : 100%;
  position: relative;
 
}

.hero-title{
    position: absolute;
    top: 10%;
    left: 5%;
    color: blue;
    font-size: 80px;
}
.hero-bg-image img{
    width : 200vh;
    height: 100vh;


}
.hero-content{
    color: #fff;
    position: absolute;
    left: 5%;
    bottom: 15%;
    right: 50%;
}
.movie-title img{
    width : 100%;
    position: relative;
    background-size : cover;
    background-repeat: no-repeat;
}