.hero-items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 1920px;
	height: 100%;
  position: relative;
	/* background-color: red; */
	/* background-size: cover;
  background-repeat: no-repeat; */
}
.hero-items img {
	position: relative;
	justify-content: center;
	/* align-items: center; */
	width: 1500px;
	height: 100%;
  /* object-fit: cover; */
  /* margin-right: -100; */
	/* size-adjust: 100%; */
}

.heroItems-content {
	color: #fff;
	font-size: 15px;
	position: absolute;
	left: 15%;
	bottom: 25%;
	right: 50%;
}

/* .hero-title {
  color: red;
  font-size: 80px;
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 5%;
}
.hero .arrow-left {
  color: red;
  font-size: 100px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 5%;
}
.hero .arrow-right {
  color: red;
  font-size: 100px;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 5%;
} */
